<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>댓글 수정</title>
</head>
<body>
<p><a th:href="@{|/posts/${comment.post.id}|}">돌아가기</a></p>

<h1>댓글 수정</h1>

<form th:action="@{|/comments/${comment.id}/edit|}" method="post">
    <input th:if="${_csrf != null}" type="hidden"
           th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <textarea name="content" th:text="${comment.content}"></textarea>
    <button type="submit">저장</button>
</form>

</body>
</html>